nav > ul{
    display: flex;

}
nav li{
    list-style: none;
    margin-right: 5px;
    padding: 5px;
}
nav li:hover{
    background-color: darkblue;
}
nav li a{
    text-decoration: none;
    color: black;
}